

<header>
  <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
          <ul class="nav col-12 col-lg-auto my-2 justify-content-between align-items-center my-md-0 text-small">
              <ul class="nav">
                  <li>
                      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                          class="nav-link text-secondary row text-center">
                          <i class="bi bi-house-door col-12 fs-2"></i>
                          <p class="col-12">Home</p>
                      </a>
                  </li>
                  <li>
                      <a [routerLink]="['/new']" routerLinkActive="active"
                          class="nav-link text-secondary row text-center">
                          <i class="bi bi-file-earmark-plus col-12 fs-2"></i>
                          <p class="col-12">New Post</p>
                      </a>
                  </li>
              </ul>
              <div>

                <app-login></app-login>
                <app-register></app-register>
              </div>


          </ul>
      </div>
  </div>
</header>
