<ul class="nav">

  <li class="text-end">
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions">Sign-up</button>

      <div class="offcanvas offcanvas-end text-black" data-bs-scroll="true" tabindex="-1"
          id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Sign-up
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
          </div>
          <div class="offcanvas-body text-start">
              <form>
                  <p>Name:</p><input type="text" [(ngModel)]="user.name" class="form-control" placeholder="Name" name="name">
                  <p>Surname:</p><input type="text" [(ngModel)]="user.surname" class="form-control" placeholder="Surname" name="surname">
                  <p>Username:</p><input type="text" [(ngModel)]="user.username" class="form-control" placeholder="Username" name="username">
                  <p>Email:</p><input type="email" [(ngModel)]="user.email" class="form-control" placeholder="Email" name="email">
                  <p>Password:</p> <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Password" name="password">
                  <button class="btn btn-primary" (click)="signup()" type="button">Sign-up</button>
              </form>
          </div>
      </div>
  </li>
</ul>
