<nav class="navbar navbar-expand-xl navbar-dark bg-primary" aria-label="Sixth navbar example">
  <div class="container-fluid">

      <i class="bi bi-compass text-light geo"> Geo-Reminder</i>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample06">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a [routerLink]="['/home']" class="nav-link px-2 text-light"><i class="bi bi-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/reminders']" class="nav-link px-2 text-light"><i class="bi bi-card-checklist"></i> Reminders</a>
        </li>


      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>



