/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato{
    border: 1px black solid;
    margin: 30px;
    padding: 20px;
    
}

p{
    font-weight: bold;
}

span{
    font-weight: 100;
    position: relative;
}

.par1 {
    position: absolute;
    top:-10px;
    left: 10px;
    animation-name: scendi;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes scendi{
    0%{top:-20px;opacity:0;}
    10%{top:0px;opacity:1;}
    20%{top:0px;opacity:1;}
    30%{top:20px;opacity:0;}
    100%{top:-20px;opacity:0;}
    
}


.par2 {
    position: absolute;
    top: -20px;
    left: 10px;
    opacity: 0;
    animation-name: scendi;
    animation-duration: 6s;
    animation-delay: 2s ;
    animation-iteration-count: infinite;
}


.par3 {
    position: absolute;
    top: -20px;
    left: 10px;
    opacity: 0;
    animation-name: scendi;
    animation-duration: 6s;
    animation-delay: 4s ;
    animation-iteration-count: infinite;
}




.par1 , .par2 , .par3{
    color: rgba(33, 98, 203, 0.865);
}